@import './MenuItem.variables';

.root {
  list-style: none;
  display: table;
  margin: 0px auto 0px auto;
}

.container {
  text-decoration: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  display: block;
}

.center {
  text-align: center;
}

.left {
  float: left;
}
